a {}
div {}
header {}
body {}
footer {}

/* Primary contents: section one header and logo. */
/* Section one: navigation. */
.section_1 {
display: flex;
margin: 0 auto;
height: 30ch;
width: 90vw;
background-color: lime;
}
#s1-nav {}



/* Section one - part one - my signature logo. */
.section_1-part_1 {
display: inline-flex;
float: left;
height: inherit;
width: 200px;
}
    
#s1-p1-logo {}
    
    
.home_logo {
display:inline-flex;
padding: 10px;
height: inherit;
width: inherit;
}
#home_logo {}
        
#signature {
height: inherit;
width: inherit;
}


/* Section one - part two - entrepreneurship menu */
.section_1-part_2 {
display: inline-flex;
flex-direction: column;
}

#s1-p2-menu {}

.lsspig {}
#lsspig {}

.cc {}
#cc {}


