a {}
div {}
header {}
body {}
footer {}


/* Primary contents: section one header and logo. */
/* Section one: navigation. */
.section_1 {
display: flex;
margin: 0 auto;
height: 200px;
width: 90vw;
background-color: lime;
}

#s1-nav {}



/* Section one - part one - my signature logo. */
.fragment_1 {
display: inline-flex;
flex-direction: column;
}

#f1 {}

.section_1-part_1 {
display: inline-flex;
float: left;
height: inherit;
width: 200px;
}
    
#s1-p1-logo {}
    
    
.home_logo {
display:inline-flex;
height: inherit;
width: inherit;
}
#home_logo {}
        
#signature {
height: inherit;
width: inherit;
}


/* Section one - part two - entrepreneurship menu */
.section_1-part_2 {
display: inline-flex;
float: left;
height:auto;
width: 200px;
flex-direction: column;
justify-content: center;
background-color: rgb(40, 40, 40)
}

#s1-p2-menu {}

.lsspig {
color:rgb(254, 255, 243);
text-decoration: none;
display: inline-flex;
justify-content: center;
width: 200px;
height: auto;
padding: 20px 0;
}

.lsspig:hover {
background-color: rgb(50, 53, 67);
width: 220px;
}

#lsspig {}

.cc {
color:rgb(254, 255, 243);
text-decoration: none;
display: inline-flex;
justify-content: center;
width: 200px;
height: auto;
padding: 20px 0;
}

.cc:hover {
background-color: rgb(50, 53, 67);
width: 220px;
}

#cc {}


/* Section one - part three - bookend */
.fragment_2 {
display: flex;
}
#f2{}

.section_1-part_3 {
display:inline-flex;
align-self: row;
width: 90%;
height: 200px;
background-color: salmon;
}

#s1-p3-placeholder {}


