a {}
div {}
header {}
body {}
footer {}


/* Primary contents: section one header and logo. */
/* Section one: navigation. */
.section_1 {
display: flex;
margin: 0 auto;
height: 30ch;
width: 90vw;
background-color: lime;
flex-direction: column;
}
#s1-nav {}



/* Section one - part one - my signature logo. */
.section_1-part_1 {
display: inline-flex;
float: left;
height: inherit;
width: 200px;
}
    
#s1-p1-logo {}
    
    
.home_logo {
display:inline-flex;
height: inherit;
width: inherit;
}
#home_logo {}
        
#signature {
height: inherit;
width: inherit;
}


/* Section one - part two - entrepreneurship menu */
.section_1-part_2 {
display: inline-flex;
float: left;
height:auto;
width: 200px;
margin-left: 30px;
justify-content: center;
flex-direction: column;
}

#s1-p2-menu {}

.lsspig {
display: inline;
margin: 10px;
}
#lsspig {}

.cc {
display: inline;    
margin: 10px;
}

#cc {}


/* Section one - part three - bookend */
.section_1-part_3 {
display:inline-flex;
flex-direction: row;
width: 90vw;
height: 200px;
background-color: salmon;
}

#s1-p3-placeholder {}


