/* Portfolio website style specification. */
/* General specifications. */
header {}
body {}
footer {}
div {}


/* This will be the body of the website. */
/* Section origin: greeting. */
.section_origin {}
#so-alien {}


.section_origin-part_1 {}
#so-p1-greetings_earthling {}


.section_origin-part_2 {}
#so-p2-chat {}


.section_origin-part_3 {}
#so-p3-suggestion_box {}


.section_origion-part_4 {}
#so-p4-social_relay {}




/* Section one: navigation. */
.section_1 {
display: grid;
margin: 0 auto;
height: 20vh;
width: 90%;
background-color: rgb(230, 118, 118);
}
#s1-navigation {}


.section_1-part_1 {
display: inline-flex;
height: 8vh;
width: inherit;
margin: 0 auto;
font-size: 18px;
font-family: Times New Roman;
justify-content: center;
align-items: center;
background-color: rgb(118, 230, 223);
}
#s1-p1-logo {}


.section_1-part_2 {
display: inline-flex;
margin: 0 auto;
height: 2vh;
width: inherit;
background-color: rgb(118, 230, 223);
}
#s1-p2-greetings {}


.section_1-part_3{
display: flex; 
margin: 0 auto;
height: 10vh;
width: inherit;
justify-content: center;
background-color: rgb(118, 230, 223);
}

#s1-p3-navigation_menu {}


.navigation_contents {}
#navigation_contents {
display: inline-flex;
gap: 2rem;
padding: 0px;
align-items: center;
}

#item_one {
display: inline-flex;
width: inherit;
height: inherit;
padding: 1rem;
margin: 0 auto;
background-color:  rgb(164, 203, 255);
}
#nav_welcome {}

#item_one a {
text-decoration: none;
color: black;
}

#item_two {
display: inline-flex;
width: inherit;
height: inherit;
padding: 1rem;
margin: 0 auto;
background-color:  rgb(164, 203, 255);
}

#item_two a {
text-decoration: none;
color: black;
}

#nav_library {}

#item_three {
display: inline-flex;
width: inherit;
height: inherit;
padding: 1rem;
margin: 0 auto;
background-color:  rgb(164, 203, 255);
}

#item_three a {
text-decoration: none;
color: black;
}

#nav_news {}

#item_four {
display: inline-flex;
width: inherit;
height: inherit;
padding: 1rem;
margin: 0 auto;
background-color:  rgb(164, 203, 255);
}

#item_four a {
text-decoration: none;
color: black;
}

#nav_serve {}

#item_five {
display: inline-flex;
width: inherit;
height: inherit;
padding: 1rem;
margin: 0 auto;
background-color:  rgb(22, 250, 2);
}

#item_five a {
text-decoration: none;
color: black;
}

#acc_register {}




.section_1-part_4 {}
#s1-p4-account {}

.account_menu {}
#account_menu {}




/* Section two: invitation. */
.section_2 {}
#s2-invitation {}


/* Section three: welcoming. */
.section_3 {}
#s3-welcoming {}


.section_3-part_1 {}
#s3-p1-wonders {}


.section_3-part_2 {}
#s3-p2-discovery {}


/* Section four: hotlinks - questions. */
.section_4 {}
#s4-hotlinks {}


/* Section five: inquiry. */
.section_5 {}
#s5-inquire {}


.section_5-part_1 {}
#s5-p1-communications_form {}


.section_5-part_2 {}
#s5-p2-communications_invitation {}


/* Section six: guidance. */
.section_6 {}
#s6-guidance {}


/* Section seven: community. */
.section_7 {}
#s7-community {}


.section_7-part_1 {}
#s7-p1-experience {}


.section_7-part_2 {}
#s7-p2-newsletter {}


.section_7-part_3 {}
#s7-p3-education_exploration {}


/* Section eight: other. */
.section_8 {
display: flex;
margin: 0 auto;
height: 30em;
width: 90%;
border: 2em solid white;
background-color: rgb(230, 118, 118);
}

#s8-commitment_to_God {}


.section_8-part_1 {
display:inline-grid;

}

#s8-p1-guiding_pillars {}


.section_8-part_2 {}
#s8-p2-ongoing_commitment {}


.section_8-part_3 {}
#s8-p3-ongoing_commitment {}


.section_8-part_4 {}
#s8-p4-future_commitment {}


/* Seasonal and traditional signature. */
.section_9 {
display: grid;
margin: 0 auto;
height: 25em;
width: 90%;
border: 2em solid rgb(230, 118, 118);
background-color: lightblue;
}

#s9-outro {}

.section_9-part_1 {
display: inline-flex;
background-color: salmon;
margin: 0 auto;
height: 15em;
width: inherit;
justify-content: center;
}

#s9-p1-footer-logo {
display: inline-flex;
}


#lss_footer_logo {
display: inline-flexbox;
height: 10rem;
width: 11rem;
border: solid;
}

#pig_footer_logo {
display: inline-flexbox;
height:10rem;
width:11rem;
border: solid;
}


.section_9-part_2 {}
#s9-p2-sitemap {}


.section_9-part_3 {}
#s9-p3-organizational_map {}


#so-p4-social_relay {}


.section_9-part_4 {}
#s9-p4-disclosure{}

/* This will conclude my companies website stylesheet. */